@{
    ViewBag.Title = "Customer Detail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br>
<div class="container">
    <div class="row clearfix">
        <div class="col-md-6">
            <button type="button" class="btn btn-labeled btn-primary" onclick="cmdSave_onclick()">
                <span class="btn-label"><i class="glyphicon glyphicon-save"></i></span>Save
            </button>
            <button type="button" class="btn btn-labeled btn-primary" onclick="cmdEdit_onclick()">
                <span class="btn-label"><i class="glyphicon glyphicon-edit"></i></span>Edit
            </button>
            <button type="button" class="btn btn-labeled btn-danger" onclick="cmdClose_onclick()">
                <span class="btn-label"><i class="glyphicon glyphicon-eject"></i></span>Close
            </button>
        </div>
        <div class="col-md-6">
        </div>
    </div>
    <div class="row clearfix">
        <div class="col-md-6">
            <label class="label label-default">Customer No: </label>
            <div class="right-inner-addon ">
                <i class="glyphicon glyphicon-barcode"></i>
                <input type="text" class="form-control" id="IdMem" name="Id" placeholder="Id" data-bind="value: Id" disabled="disabled" />
            </div>
            <br />
            <label class="label label-default">Name: </label>
            <div class="right-inner-addon ">
                <i class="glyphicon glyphicon-user"></i>
                <input type="text" class="form-control" id="NameMem" name="Name" placeholder="Name" data-bind="value: Name" />
            </div>
            <br />
            <label class="label label-default">Address: </label>
            <textarea class="form-control" rows="3" id="AddressMem" name="Address" placeholder="Address" data-bind="value: Address"></textarea>
            <br />
        </div>
        <div class="col-md-6">
            <label class="label label-default">Contact Person: </label>
            <input type="text" class="form-control" id="ContactPersonMem" name="Contact Person" placeholder="Contact Person" data-bind="value: ContactPerson" />
            <br />
            <label class="label label-default">Telephone: </label>
            <input type="text" class="form-control" id="TelephoneMem" name="Telephone" placeholder="Telephone" data-bind="value: Telephone" />
            <br />
            <label class="label label-default">Fax: </label>
            <input type="text" class="form-control" id="FaxMem" name="Fax" placeholder="Fax" data-bind="value: Fax" />
            <br />
        </div>
    </div>
</div>
<div id="message"></div>

<script src="~/Scripts/jquery-2.0.3.js" type="text/javascript"></script>

<script src="~/Scripts/knockout-3.0.0.js" type="text/javascript"></script>

<script src="~/Scripts/jquery.dataTables.js" type="text/javascript"></script>

<script type="text/javascript" src="~/Scripts/select2.js"></script>

<script src="~/Scripts/toastr.js" type="text/javascript"></script>

<script type="text/javascript">
    var koNamespace = {};
    var koMstCustomerViewModel;

    function getParameterByName(name) {
        name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
        var regex = new RegExp("[\\?&]" + name + "=([^&#]*)"),
            results = regex.exec(location.search);
        return results == null ? "" : decodeURIComponent(results[1].replace(/\+/g, " "));
    }

    koNamespace.initViewModel = function (customer) {
        var paramId = getParameterByName("Id");
        var customerViewModel;

        if (paramId == 0) {
            customerViewModel = {
                Id: !document.getElementById("Id").value ? 0 : document.getElementById("Id").value,
                Name: !document.getElementById("NameMem").value ? "" : document.getElementById("NameMem").value,
                Address: !document.getElementById("AddressMem").value ? "" : document.getElementById("AddressMem").value,
                ContactPerson: !document.getElementById("ContactPersonMem").value ? "" : document.getElementById("ContactPersonMem").value,
                Telephone: !document.getElementById("TelephoneMem").value ? "" : document.getElementById("TelephoneMem").value,
                Fax: !document.getElementById("FaxMem").value ? "" : document.getElementById("FaxMem").value
            };
        }
        else
        {
            customerViewModel = {
                Id: ko.observable(!customer? 0:customer.Id),
                Name: ko.observable(!customer? "":customer.Name),
                Address: ko.observable(!customer? "":customer.Address),
                ContactPerson: ko.observable(!customer? "":customer.ContactPerson),
                Telephone: ko.observable(!customer? "": customer.Telephone),
                Fax: ko.observable(!customer ? "" : customer.Fax)
            };
        }
        return customerViewModel;
    };

    koNamespace.bindData = function (customer) {
        var viewModel = koNamespace.initViewModel(customer);

        ko.applyBindings(viewModel);
        koMstCustomerViewModel = viewModel;

    };

    koNamespace.getMstCustomer = function () {
        $.ajax({
            url: "@(Html.Raw(Url.Action("MstCustomerDetail", "Home", new { Id = HttpContext.Current.Request.QueryString["Id"] })))",
            async: false,
            type: 'get',
            contentType: 'application/json',
            success: function (result) {
                koNamespace.bindData(result);
            }
        });
    };

    koNamespace.saveMstCustomer = function () {
        $.ajax({
            url: "@Url.Action("MstCustomerDetailSave", "Home")",
            async: false,
            type: 'post',
            data: ko.toJSON(koMstCustomerViewModel),
            contentType: 'application/json',
            success: function () {
                toastr.success('Successfully Saved...');
            }
        });
    };

    $(document).ready(function () {
        koNamespace.getMstCustomer();

        $("#NameMem").attr("disabled", "disabled");
        $("#AddressMem").attr("disabled", "disabled");
        $("#ContactPersonMem").attr("disabled", "disabled");
        $("#TelephoneMem").attr("disabled", "disabled");
        $("#FaxMem").attr("disabled", "disabled");
    });

    function cmdSave_onclick() {
        var paramId = getParameterByName("Id");

        if (paramId == 0) {
            koNamespace.bindData();
            if(confirm("Do you want save this record?...")){
                koNamespace.saveMstCustomer();
            }
        } else {
            if(confirm("Do you want update this record?...")){
                koNamespace.saveMstCustomer();
            }
        };

        $("#NameMem").attr("disabled", "disabled");
        $("#AddressMem").attr("disabled", "disabled");
        $("#ContactPersonMem").attr("disabled", "disabled");
        $("#TelephoneMem").attr("disabled", "disabled");
        $("#FaxMem").attr("disabled", "disabled");
    }

    function cmdEdit_onclick() {
        $("#NameMem").removeAttr("disabled");
        $("#AddressMem").removeAttr("disabled");
        $("#ContactPersonMem").removeAttr("disabled");
        $("#TelephoneMem").removeAttr("disabled");
        $("#FaxMem").removeAttr("disabled");
    }

    function cmdClose_onclick() {
        location.href = 'MstCustomerListView';
    }
</script>